<h1>Votre paiement est confirmé.</h1>
<h3>Merci <%= current_user.first_name %> <%= current_user.last_name %> pour votre achat de <strong><%= @amount %> €</strong> !</h3>
<br><br>
<p>Un email vous a été envoyé à <%= current_user.email %> avec le récapitulatif de votre commande.</p>
<p>Si vous n'êtes pas automatiquement redirigé(e) vers l'accueil, merci de cliquer sur le bouton ci-dessous</p>
<meta HTTP-EQUIV="REFRESH" content="5; <%= orders_path %>">
<%= link_to "Rejoindre l'accueil", orders_path, class:"btn btn-outline-primary btn-lg" %> 
