<h2>Panier</h2>

<table class="table align-middle table-hover">
  <thead>
		<tr>
			<th style="width:70%"></th>
			<th style="width:10%" class="text-center">Prix</th>
			<th style="width:10%" class="text-center">Quantité</th>
			<th style="width:30%" class="text-center">Total</th>
			<th style="width:10%"></th>
		</tr>
	</thead>

  <% @cart.join_item_carts.sort_by(&:id).each do |join_item_cart| %>
    <tbody>
		  <tr>
				<td class="d-flex align-items-center" data-th="Product">
					<div class="col-sm-2 hidden-xs">
            <%= image_tag(join_item_cart.item.picture, class:"my-img-card-sm pe-5") %> 
          </div>
					<div class="ps-5">
						<h4 class="nomargin"><%= join_item_cart.item.title %></h4>
						<p><%= join_item_cart.item.description %></p>
					</div>
        </td>
				<td data-th="Price" class="text-center"><%= join_item_cart.item.price %> €</td>
				<td data-th="Quantity" class="text-center"><%= join_item_cart.quantity %></td>
				<td data-th="Subtotal" class="text-center"><%= join_item_cart.total_item %> €</td>
				<td class="actions text-center">
					<div class="d-flex align-items-center justify-content-around pb-2">
						<%= button_to "+", join_item_carts_path(item_id: join_item_cart.item), class: "my-link h3", style: "border: none; background: none;" %>
						<%= button_to "-", join_item_cart_path(join_item_cart.id), method: :put, class: "my-link h3", style: "border: none; background: none;"  if join_item_cart.quantity > 1%>
					</div>
					<%= link_to "Supprimer", join_item_cart_path(id: join_item_cart.id), method: :delete, class: "my-btn-secondary my-btn-secondary-sm mb-5" %>							
				</td>
      </tr>
    </tbody>
  <% end %>
</table>

<div class="d-flex justify-content-between align-items-center">
  <%= link_to "Voir mes commandes", orders_path, class: "my-link" %>
	<%= link_to "Retour aux produits", root_path, class: "my-link" %>
    <div class="d-flex align-items-center">
      <h6 class="m-3"><strong><%= @cart.total_cart %> €</strong></h6>
      <% if user_signed_in? %>
        <%= form_tag carts_path do %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Payez votre commande"
            data-email=<%= current_user.email %>
            data-currency= 'eur',
            data-amount=<%= @cart.total_cart * 100 %>
            data-locale="auto">
          </script>
        <% end %>
      <% else %>
      <%= link_to "Payer", new_user_session_path, class:"my-btn-blue-light my-btn-blue-light-lg" %>
    <% end %>
  </div>
</div>	

<% if flash[:error].present? %>
  <div id="error_explanation">
    <p><%= flash[:error] %></p>
  </div>
<% end %>