<%= form_with(model: item, local: true, html: { class: "form-signin" }) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :title, "Titre" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :description, "Description" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :price, "Prix" %>
    <%= form.text_field :price, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :picture, "Choirsir une image" %>
    <%= form.file_field :picture, class: "form-control" %>
  </div>
  <br>

  <div class="actions text-center">
    <%= form.submit "Créer", class: "my-btn my-btn col-md-12" %>
  </div>
<% end %>
<br>
