<section class="jumbotron text-center">
  <div class="container">
    <h1>Nos chatons</h1>
    <br>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    <br>
    <p>
      <a href="#" class="my-btn-blue-light my-btn-blue-light-lg">Main call to action</a>
      <a href="#" class="my-btn my-btn-lg">Secondary action</a>
    </p>
  </div>
</section>

<br><br>
<%= link_to 'New Item', new_item_path, class:"my-btn-blue-light" %>
<br><br><br>
    
<div class="row">
    <% @items.each do |item| %>
      <div class="col-md-4 py-3">
        <div class="card h-100 my-card-hover">
          <%= image_tag(item.picture, class:"my-card") if item.picture.attached? %>
          <div class="card-body">
            <h4 class="card-title"><%= item.title %></h4>
            <p class="card-text"><%= item.description %> </p>
            <p class="text-muted mb-4"><%= item.price %></p>
            <div class="btn-card my-3 d-flex justify-content-between">
              <%= link_to 'Voir plus', item_path(item.id), class:'my-btn-blue-light  '%>
              <%= link_to "Ajouter au panier", join_item_carts_path(item_id: item), method: :post, class:'my-btn' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>