<section class="jumbotron text-center">
  <div class="container">
    <h1>Nos chatons</h1>
    <br>
    <p class="lead text-muted">Découvrez les photos des chatons les plus mignons de l'Internet</p>
    <br>
    <p>
      <%= link_to "S'inscrire", new_user_registration_path, class:"my-btn-blue-light my-btn-blue-light-lg" %>
    </p>
  </div>
</section>
<br><br><br>
    
<div class="row">
  <% @items.each do |item| %>
    <div class="col-md-4 py-3">
      <div class="card h-100 my-card-hover">
      <%= image_tag item.picture, height: "200px;", class:"my-img-card" %>
       
        <div class="card-body">
          <h4 class="card-title mx-4"><%= item.title %></h4>
          <p class="card-text mx-4"><%= item.description %> </p>
          <p class="text-muted m-4"><%= item.price %> €</p>
          <div class="btn-card my-3 mx-4 d-flex justify-content-between">
            <%= link_to 'Voir plus', item_path(item.id), class:'my-btn-blue-light  '%>
            <%= link_to "Ajouter au panier", join_item_carts_path(item_id: item), method: :post, class:'my-btn' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
