<p id="notice"><%= notice %></p>

<div class="container">
    
<div class="row justify-content-center">
    
          <div class=" col-md-6">
            <div class="card text-center" >
              <img style="height: 400px; width: 100%; display: block;" src="https://www.leparisien.fr/resizer/74wMQIeXKLDUKuKvSzJQME_0ULg=/932x582/arc-anglerfish-eu-central-1-prod-leparisien.s3.amazonaws.com/public/KNVYKZBDTTOXNO37FEVDTD5DJU.jpg" alt="Card image"/>

              <div class="card-body">
                <h4 class="card-title"><%= @item.title %></h4>
                <p class="card-text"><%= @item.description %></p>
                <p class="card-text"><%= @item.price %></p>
                <button type="button" class="btn btn-primary btn-lg">Ajouter au panier</button>
              </div>
            </div>
            <br>
                <%= link_to 'Back', items_path %>
          </div>
       
    
</div>
</div>