<nav class="navbar navbar-expand-lg navbar-light my-bg-light">
  <div class="container">
    <a href="<%= items_path %>"><h3 class="my-text-primary m-3">Kitties Shop</h3></a>
    <div class="d-flex justify-content-end align-items-center">
      <%= link_to image_tag("shopping_cart.png", size: "30", alt: "Icon shopping cart"), cart_path(@cart.id), class:'navbar-brand my-text-primary', method: :get %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav font-600 d-flex justify-content-end">
          <li class="nav-item"><%= link_to "Accueil", items_path, class:"nav-link m-2" %></li>
          <li class="nav-item dropdown m-2">
            <% if user_signed_in? %>
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Mon compte
              </a>                        
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><%= link_to "Se déconnecter", destroy_user_session_path, :method => :delete, class:"dropdown-item" %></li>              
              </ul>
            <% else %>
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Connexion
              </a>                
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><%= link_to "S'inscrire", new_user_registration_path, class:"dropdown-item" %></li>
                <li><%= link_to "Se connecter", new_user_session_path, class:"dropdown-item" %></li>
              </ul>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>